
{% extends "base.html" %}
{% block title %}Home - Dashboard{% endblock %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sales Ratio</h4>
                    <div class="sales ct-charts mt-3"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title m-b-5">Referral Earnings</h5>
                    <h3 class="font-light">$769.08</h3>
                    <div class="m-t-20 text-center">
                        <div id="earnings"></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title m-b-0">Users</h4>
                    <h2 class="font-light">35,658 <span class="font-16 text-success font-medium">+23%</span></h2>
                    <div class="m-t-30">
                        <div class="row text-center">
                            <div class="col-6 border-right">
                                <h4 class="m-b-0">58%</h4>
                                <span class="font-14 text-muted">New Users</span>
                            </div>
                            <div class="col-6">
                                <h4 class="m-b-0">42%</h4>
                                <span class="font-14 text-muted">Repeat Users</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Latest Sales</h4>
                </div>
                <div class="table-responsive">
                    <table class="table stylish-table">
                        <thead>
                            <tr>
                                <th class="border-top-0">Project</th>
                                <th class="border-top-0">Status</th>
                                <th class="border-top-0">Date</th>
                                <th class="border-top-0">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="txt-oflo">Elite Admin</td>
                                <td><span class="label label-success label-rounded">Done</span></td>
                                <td class="txt-oflo">April 18, 2017</td>
                                <td><span class="font-medium">$2,500</span></td>
                            </tr>
                            <tr>
                                <td class="txt-oflo">Real Homes WP</td>
                                <td><span class="label label-info label-rounded">SALE</span></td>
                                <td class="txt-oflo">April 19, 2017</td>
                                <td><span class="font-medium">$105</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
